body{
    font-family: "Orbitron", sans-serif;
}
.main-header{
    background-color: #212121;
    color: #9A9999;
    padding: 30px 0;
}

.main-nav ul li a{
    color: #9A9999;
    text-decoration: none;
}

.main-nav ul li a:hover{
    color: white;
    transition: all 0.5s;
    display: inline-block; 
    transform: scale(1.2);
    transform-origin: center;
}

.container{
    width: 1180px;
    margin: 0 auto;
}

.container-flex{
    display: flex;
}

.main-nav nav ul{
    display: flex;
    gap: 30px;
}

.main-header .container-flex{
    justify-content: space-between;
    align-items: center;
}

.hero{
    background-image: url(../assets/banner-1.avif);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.hero h1{
    font-size: 36px;
    color: #fff;
}

.hero p{
    font-size: 14px;
    color: #fff;
    line-height: 2;
    margin: 25px 0;
}

.hero .container-flex{
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

.brand{
    text-align: center;
}

.hero-btns{
    display: flex;
    gap: 20px;
}

.btn-primary{
    background-color: #212121;
    color: #9A9999;
    font-family: "Orbitron", sans-serif;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 120px;
    border-radius: 2px;
    white-space: nowrap;
}

.active{
    border-top: 3px solid #9A9999;
}

.text-hero{
    width: 500px;
}