body {
    font-family: "Orbitron", sans-serif;
}

h3 {
    font-size: 14px;
    color: #9a9999;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.main-header {
    background-color: #212121;
    color: #9a9999;
    padding: 20px 0;
}

.main-nav ul li a {
    color: #9a9999;
    text-decoration: none;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.main-nav nav ul {
    display: flex;
    gap: 30px;
    font-size: 14px;
}

.main-header .container-flex {
    justify-content: space-between;
    align-items: center;
}

.main-nav ul li a:hover {
    color: #fff;
    transition: all 0.3s;
}

.hero {
    background-image: url(../assets/banner-1.avif);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.hero h1 {
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    line-height: 1.2;
}

.hero p {
    font-size: 16px;
    color: #fff;
    line-height: 2;
    margin: 20px 0;
    font-weight: 300;
}

.hero .container-flex {
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.brand {
    text-align: center;
}

.brand img {
    width: 380px;
    margin: 0 auto;
}

.hero-bnts {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: #212121;
    color: #9a9999;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 80px;
    border-radius: 2px;
}

.active {
    border-top: 3px solid #9a9999;
}

.text-hero {
    width: 50%;
}

.grid-cars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 40px;
    margin-top: 40px;
}

.grid-cars article img {
    max-width: 100%;
}

h2.car-model {
    font-size: 14 px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    margin: 20px 0;
}

.link {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.link a {
    color: #9a9999;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.link a:hover {
    color: #212121;
    
    
}

.main-grid {
    padding: 60px 0;
}