body {
    font-family: "Orbitron", sans-serif;
}

.main-header {
    background-color: #212121;
    color: #9a9999;
    padding: 20px 0;
}

.main-nav ul li a {
    color: #9a9999;
    text-decoration: none;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.main-nav nav ul {
    display: flex;
    gap: 30px;
    font-size: 14px;
}

.main-header .container-flex {
    justify-content: space-between;
    align-items: center;
}

.main-nav ul li a:hover {
    color: #fff;
    transition: all 0.3s;
}